/******************************/
/** FONTS */
/******************************/

@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap');

/******************************/
/** VARIABLES */
/******************************/

:root {
  /*? COLORS */
  --clr-primary: #f1f5f8;
  --clr-secondary: #49a6e9;
  --clr-white: #fff;
  --clr-black: #222;
  --clr-grey-1: #f1f5f8;
  --clr-grey-2: #444;

  /*? FONTS */
  --ff-primary: 'Roboto', sans-serif;
  --ff-secondary: 'Open Sans', sans-serif;
  --fw-default: 400;

  /*? FONT SIZES */
  --fs-default: 62.5%;

  /*? OTHERS */
  --ltr-spacing: 0.25rem;
  --radius: 0.5rem;
  --transition: all 0.3s linear;
}

/******************************/
/** RESPONSIVE BREAKPOINTS */
/******************************/

/* 
  ? Small   : 450px (28.125em)
*/

/******************************/
/** GLOBAL STYLES */
/******************************/

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  /* ? font-size: 10px; */
  font-size: var(--fs-default);
}

/*? 450px / 16 = 28.125em */
@media only screen and (max-width: 28.125em) {
  html {
    /* ? font-size: 7px; */
    font-size: 43.75%;
  }
}

body {
  font-family: var(--ff-secondary);
  font-weight: var(--fw-default);
  background-color: var(--clr-grey-1);
  color: var(--clr-grey-2);
  line-height: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
}

/******************************/
/** MAIN */
/******************************/

.heading-1 {
  text-transform: capitalize;
  font-size: 6rem;
  letter-spacing: var(--ltr-spacing);
  font-family: var(--ff-primary);
}

.value {
  font-size: 10rem;
  font-weight: bold;
  margin: 3rem 0;
}

.btn-container {
  display: flex;
  gap: 2rem;
}

.btn {
  letter-spacing: 0.25rem;
  font-size: 1.5rem;
  padding: 0.5rem 1rem;
  text-transform: uppercase;
  background-color: transparent;
  border: 2px solid var(--clr-black);
  border-radius: var(--radius);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  transition: var(--transition);
  cursor: pointer;
}

.btn:hover {
  color: var(--clr-white);
  background-color: var(--clr-black);
}
